SECRET_KEY=your-secret-key-here
DEBUG=True
DATABASE_URL=postgres://user:password@localhost:5432/pikolink
EMAIL_HOST_USER=pikolink@yahoo.com
EMAIL_HOST_PASSWORD=your-yahoo-app-password
ALLOWED_HOSTS=localhost,127.0.0.1,pikolink.com
GEOIP_PATH=/path/to/geoip/
