Django==4.2.9
psycopg2-binary==2.9.9
django-allauth==0.61.1
whitenoise==6.6.0
gunicorn==21.2.0
python-decouple==3.8
geoip2==4.7.0
user-agents==2.2.0
django-extensions==3.2.3
Pillow==10.2.0
dj-database-url==2.1.0
django-anymail[mailersend]==14.0
