<h1>SHOW LINK</h1>



<table>


<tbody>

  <tr>
    <td><h2>Original Link:</h2></td>
    <td><h2><%= @short_link.url %></h2></td>    
  </tr>    

  <tr>
    <td><h2>Short Link:</h2></td>
    <td><h2> http://localhost:3000/<%= @short_link.unique_key %></h2></td>
  </tr>

  <tr>
    <td><h2>Short Link:</h2></td>
    <td><h2> http://www.pikolink.com/<%= @short_link.unique_key %></h2></td>
  </tr>

  </tbody>
</table>

