<!doctype html>
<html>
  <head>
    <title>Clicks</title>
  </head>

  <body>
    <h1>Clicks</h1>

    <p>
      <a href="/app/links">Back to links</a>
    </p>

    {% if clicks %}
      <table border="1" cellpadding="6" cellspacing="0">
        <thead>
          <tr>
            <th>Link code</th>
            <th>Customer</th>
            <th>Clicked at</th>
            <th>IP address</th>
          </tr>
        </thead>
        <tbody>
          {% for click in clicks %}
            <tr>
              <td>{{ click.link.code }}</td>
              <td>
                {% if click.customer %}
                  {{ click.customer.display_label }}
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td>{{ click.clicked_at }}</td>
              <td>{{ click.ip_address }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No clicks yet.</p>
    {% endif %}
  </body>
</html>